.board {
  height: 94%;
  padding: 2rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);

  &--disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}
