@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.match-details {
  @include flexCenter(row);

  &__text {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    color: $details-text-color;
  }
}
