@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.setup {
  height: 100%;
  @include flexCenter(column);

  &__cta {
    border-radius: 3px;
    padding: 1.2rem 1.4rem;
    font-size: 1.4rem;
    border-color: $color-primary;
    cursor: pointer;
    background-image: linear-gradient(
      45deg,
      $color-primary 50%,
      transparent 50%
    );
    background-image: linear-gradient(
      45deg,
      $color-primary-dark 50%,
      transparent 50%
    );
    background-position: 100%;
    background-size: 400%;
    transition: background 500ms ease-in-out;

    &:hover {
      color: $color-white;
      background-position: 0;
    }
  }

  &__loading {
    margin-top: 2rem;
  }
}
